
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--======= BANNER =========-->
<div id="banner">
    <div class="flex-banner">
        <ul class="slides">

            <!--======= BANNER SLIDE 1 =========-->
            <li>

                <img src="~/Content/image/slider-1.jpg" />

                <!--======= BANNER TEXT =========-->
                <div class="bnr-txt">
                    <h1>Give a <span>helping hand </span> to those who need it!</h1>
                    <hr>
                    <p class="font-lora">Volunteers do not Necessarily have the Time, They Just have the Heart.</p>

                    <!--======= BANNER BTN =========-->
                    <a href="#." class="btn">LEARN MORE <i class="fa fa-caret-right"></i></a>
                </div>
            </li>

            <!--======= BANNER SLIDE 2 =========-->
            <li>

                <img src="~/Content/image/slider-2.jpg" />

                <!--======= BANNER TEXT =========-->
                <div class="bnr-txt left-text">
                    <h1>Give a <span>helping hand </span> to those who need it!</h1>
                    <hr>
                    <p class="font-lora">Volunteers do not Necessarily have the Time, They Just have the Heart.</p>

                    <!--======= BANNER BTN =========-->
                    <a href="#." class="btn">LEARN MORE <i class="fa fa-caret-right"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<section class="donatores">
    <div class="container">

        <!--======= TITTLE =========-->
        <div class="tittle">
            <h2>Son Satılan  <span>Eşyalar</span></h2>
            <p></p>
        </div>

        <!--======= DONATOR ROWS =========-->
        <div class="row">

            <!--======= DONATOR 1 =========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= DONATOR 1 =========-->
                    <li class="col-sm-6">
                        <div class="avatar"> <img class="img-responsive" src="~/Content/image/avatar-1.jpg" alt=""> </div>
                        <div class="donor-details">
                            <h5>Chris Binva</h5>
                            <p class="font-lora">Nikan Manager, Sydney</p>
                            <span class="font-lora">Fiyat : <strong>$1052</strong></span>
                        </div>
                    </li>

                    <!--======= DONATOR 2 =========-->
                    <li class="col-sm-6">
                        <div class="avatar"> <img class="img-responsive" src="~/Content/image/avatar-2.jpg" alt=""> </div>
                        <div class="donor-details">
                            <h5>Jenny Rose</h5>
                            <p class="font-lora">Nikan Manager, Sydney</p>
                            <span class="font-lora">Fiyat : <strong>$252</strong></span>
                        </div>
                    </li>
                </ul>
            </div>

            <!--======= DONATOR ROW =========-->
            <div class="col-md-6">
                <ul class="row">

                    <!--======= DONATOR 1 =========-->
                    <li class="col-sm-6">
                        <div class="avatar"> <img class="img-responsive" src="~/Content/image/avatar-3.jpg" alt=""> </div>
                        <div class="donor-details">
                            <h5>Benny Doe</h5>
                            <p class="font-lora">Nikan Manager, Sydney</p>
                            <span class="font-lora">Fiyat : <strong>$1052</strong></span>
                        </div>
                    </li>

                    <!--======= DONATOR 2 =========-->
                    <li class="col-sm-6 become-donor">
                        <div class="donor-details">
                            <h4>Hemen üye <strong>ol</strong></h4>
                            <hr>
                            <p class="font-lora"> Ücretsiz üyelik fırsatımızdan faydalanın ve sizde kullanmadıgınız ikinci el eşyalarınızı satmaya başlayın. </p>
                            <!--<a href="#." class="btn">JOIN NOW!</a> </div>-->
                            <div class="btn-right"> <a href="#make-donation" class="btn popup-with-zoom-anim">Üye ol</a> </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--======= BLOG =========-->
<section class="blog">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle">
            <h2>Son Gelişmeler <span>Blog</span></h2>
            <p>Blogta ki son gelişmelerden haberiniz olsun. Takipte Kalın..</p>
        </div>

        <!--======= BLOG ROW =========-->

        <div class="row">

            <!--======= BLOG BIG VIDEO =========-->
            <div class="col-md-6">
                <div class="video-blog"> <img class="img-responsive" src="~/Content/image/blog-1.jpg" alt=""> <a href="#."><i class="fa fa-caret-right"></i></a> </div>
            </div>

            <!--======= BLOG RIGTH =========-->

            <div class="col-md-6">

                <!--======= BLOG 2 =========-->

                <ul class="row">
                    <li class="col-xs-4"> <a href="#."><img class="img-responsive" src="~/Content/image/blog-2.jpg" alt=""></a> </li>
                    <li class="col-xs-8">
                        <a class="font-lora title" href="#.">The New Charity psd TemplateDesign</a> <span class="font-lora">MAy 14, 2015  |  By Admin  |  4 comments</span>
                        <p>Perspiciatis unde omnis iste natus error sit ametsan voluptatem accusantium[...] </p>
                        <a href="#." class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                    </li>
                </ul>
                <!--======= BLOG 3 =========-->

                <ul class="row">
                    <li class="col-xs-4"> <a href="#."><img class="img-responsive" src="~/Content/image/blog-3.jpg" alt=""></a> </li>
                    <li class="col-xs-8">
                        <a class="font-lora title" href="#.">The New Charity psd TemplateDesign</a> <span class="font-lora">MAy 14, 2015  |  By Admin  |  4 comments</span>
                        <p>Perspiciatis unde omnis iste natus error sit ametsan voluptatem accusantium[...] </p>
                        <a href="#." class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--======= TESTIMONIALS =========-->
<section class="testi">
    <div class="container">

        <!--======= ROW =========-->
        <div class="row">
            <div class="col-md-6">
                <h3><strong>Hakkımızda</strong> Merak Edilenler</h3>

                <!--======= SLIDES =========-->
                <section>

                    <!--======= SLIDER =========-->
                    <div class="testi-slides">

                        <!--======= SLIDER 1 =========-->
                        <div class="item-slide">
                            <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur ridiculus. mus.  Morbi nunc odio gravida at cursus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio gravida at cursus.</p>
                            <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                        </div>

                        <!--======= SLIDER 1 =========-->
                        <div class="item-slide">
                            <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male suada odio.   Morbi nunc odio gravida at cursus. Morbi nunc odio gravida at cursus.</p>
                            <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                        </div>

                        <!--======= SLIDER 1 =========-->
                        <div class="item-slide">
                            <p>Cum sociis natoque penatibus et magnis dis  Morbi nunc odio gravida at cursus. parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio gravida at cursus.</p>
                            <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                        </div>
                    </div>
                </section>
            </div>

            <!--======= RIGHT IMAGES =========-->
            <div class="col-md-6 with-bg-drk"> <img class="img-responsive" src="~/Content/image/feed-img.png" alt=""> </div>
        </div>
    </div>
</section>

<!--======= PROUND =========-->

 

<!--======= FOOTER =========-->

<script>
    setTimeout(function () { $("#anasayfa").addClass("active"); }, 0);

</script>
