
@{
    ViewBag.Title = "BizeUlasın";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>Contact <span>Us</span></h3>

            <!--======= BREADCRUMB =========-->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Contact </li>
            </ol>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= CONTACT US =========-->
    <section class="contact-us">
        <div class="container">

            <div class="row">

                <!--======= CONTACT FORM =========-->
                <div class="col-md-7">
                    <h5>Message for us</h5>
                    <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Thank You. Your Message has been Submitted</div>
                    
                       @using (Html.BeginForm("BizeUlasinMail", "Home", FormMethod.Post, htmlAttributes: new { id = "contact_form", @class = "contact-form", enctype = "multipart/form-data"}))
                        {
                        <ul class="row">
                            <li class="col-sm-6">
                                <label>
                                    Adı ve Soyadı *
                                    <input type="text" class="form-control" name="adi" id="name" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    Email *
                                    <input type="text" class="form-control" name="email" id="email" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    TelefonNo *
                                    <input type="text" class="form-control" name="telefonNo" id="company" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-6">
                                <label>
                                    Üniverste *
                                    <input type="text" class="form-control" name="universite" id="website" placeholder="">
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    İletmek İstedikleriniz *
                                    <textarea class="form-control" name="message" id="icerik" rows="5" placeholder=""></textarea>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <button type="submit" value="submit" class="btn" id="btn_submit" onClick="proceed();">Send Message</button>
                            </li>
                        </ul>
                        }
                </div>

                <!--======= CONTACT INFORMATION =========-->
                <div class="col-md-5">
                    <div class="contact-info">
                        <h5>Contact Details</h5>
                        <ul>

                            <!--======= ADDRESS =========-->
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon"> <i class="fa fa-map-marker"></i> </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <h6>Address</h6>
                                        <p>
                                            44 new Design Street, Melbourne 005<br>
                                            Australia 300
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                            </li>

                            <!--======= PHONE =========-->
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon"> <i class="fa fa-phone"></i> </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <h6>Phone</h6>
                                        <p>01 (800) 433 744</p>
                                        <p>01 (800) 433 633</p>
                                        <hr>
                                    </div>
                                </div>
                            </li>

                            <!--======= SUPPORT =========-->
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon"> <i class="fa fa-envelope-o"></i> </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <h6>Support</h6>
                                        <p>Support@Example.com</p>
                                        <hr>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#bizeUlasın").addClass("active"); }, 0);
</script>
