@model IEnumerable<WebApp2.Models.DersNotu>

@foreach (var item in Model)
{
    <li>
        <p>
            @item.DersBaslıgı
            @if (item.DersNotuDurum == "0")
            {
                <span>@WebApp2.Resources.DersNotu.onayBekliyor</span>
            }
            @if (item.DersNotuDurum == "1")
            {
                <span>@WebApp2.Resources.DersNotu.onaylandi</span>
            }
            @if (item.DersNotuDurum == "2")
            {
                <span>@WebApp2.Resources.DersNotu.reddedildi</span>
            }
        </p>
    </li>
}
