
@{
    ViewBag.Title = "Esya";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>online <span>Shop</span></h3>

            <!--======= BREADCRUMB =========-->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shop</li>
            </ol>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= SHOP =========-->
    <section class="shop shop-pages">
        <div class="container">

            <!--======= PRODUCTS ROW =========-->
            <div class="row">

                <!--======= SHOP LEFT BAR =========-->
                <div class="col-md-3">
                    <div class="side-bar">

                        <!--======= SEARCH =========-->
                        <div class="search">
                            <input type="search" placeholder="Search Here">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="shop-side-bar">
                            <h5>CATEGORIES</h5>
                            <ul class="cate">
                                <li><a href="#.">BLAZERS  (12)</a></li>
                                <li><a href="#.">PANTS & tROUSERS  (54)</a></li>
                                <li><a href="#.">shirt  (105)</a></li>
                                <li><a href="#.">SUITS & tAILORING  (48)</a></li>
                                <li><a href="#.">T-SHIRTS  (120)</a></li>
                                <li><a href="#.">UNDERWEAR  (98)</a></li>
                                <li><a href="#.">jACKETS & COATS  (36)</a></li>
                            </ul>

                            <!--======= PRICE FILTER =========-->

                            <div class="cost-price-content">
                                <h5>PRICE FILTER</h5>
                                <div id="price-range" class="price-range"></div>
                                <span id="price-min" class="price-min">20</span> <span id="price-max" class="price-max">80</span> <a href="#." class="btn">FILTER</a>
                            </div>

                            <!--======= TOP RATED =========-->
                            <h5>TOP RATED</h5>
                            <ul class="top-rated">

                                <!--======= PRODUCT 1 =========-->
                                <li>
                                    <div class="img">
                                        <section> <img class="img-responsive" src="~/Content/image/shop-img-1.jpg" alt=""> </section>
                                    </div>
                                    
                                    <a class="font-lora" href="#.">Casual men wearing Shirt</a>
                                    <p>$ 90.00 <span class="strike">$100.00</span></p>
                                </li>

                                <!--======= PRODUCT 2 =========-->
                                <li>
                                    <div class="img">
                                        <section> <img class="img-responsive" src="~/Content/image/shop-img-4.jpg" alt=""> </section>
                                    </div>
                                    <a class="font-lora" href="#.">Casual men wearing Shirt</a>
                                    <p>$ 90.00 <span class="strike">$100.00</span></p>
                                </li>

                                <!--======= PRODUCT 1 =========-->
                                <li>
                                    <div class="img">
                                        <section> <img class="img-responsive" src="~/Content/image/shop-img-3.jpg" alt=""> </section>
                                    </div>
                                    <a class="font-lora" href="#.">Casual men wearing Shirt</a>
                                    <p>$ 90.00 <span class="strike">$100.00</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--======= SHOP IMAGES =========-->
                <div class="col-md-9">
                    <ul class="row">

                        <!--======= PRODUCTS 1 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-1.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>

                        <!--======= PRODUCTS 2 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-2.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>

                        <!--======= PRODUCTS 3 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-3.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-2.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>
                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>

                        <!--======= PRODUCTS 2 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-4.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>

                        <!--======= PRODUCTS 3 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-1.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-4.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>

                        <!--======= PRODUCTS 2 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-1.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>

                        <!--======= PRODUCTS 3 =========-->
                        <li class="col-sm-4">
                            <section> <a href="#."> <img class="img-responsive" src="~/Content/image/shop-img-2.jpg" alt=""> </a> </section>
                            <!--======= PRODUCTS DETAILS =========-->
                            <div class="products-details">
                                <a href="#." class="font-lora">Casual men wearing Shirt</a> <span class="price">$ 95.66</span>

                                <!--======= STARS =========-->
                                <div class="stars"> <i class="rated fa fa-star-o"></i> <i class="rated fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>

                                <!--======= ADD TO CART =========-->
                                <a class="add-cart font-lora" href="#."> ADD TO CART </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#esya").addClass("active"); }, 0);

</script>
