@model IEnumerable<WebApp2.Models.Etkinlik>
@{
    ViewBag.Title = "Etkinlikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>Our <span>Causes</span></h3>

            <!--======= BREADCRUMB =========-->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Causes</li>
            </ol>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="cases cases-pages">
        <div class="portfolio-wrapper">
            <div class="filter-bar">
                <div class="container">
                    <h6 class="pull-left">Filtre :</h6>

                    <!--======= LST FRID =========-->
                    <div class="list-grid">
                        <ul>
                            <li><a href="#."><i class="fa fa-th"></i></a></li>
                            <li><a class="active" href="#."><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>

                    <!--======= FILTERS =========-->
                    <ul class="filter">
                        <li><a class="active" href="#." data-filter="*">Hepsi</a></li>
                        <!-- <li><a href="#" data-filter=".nature">Nature</a></li>
                         <li><a href="#" data-filter=".food">Food</a></li>
                         <li><a href="#" data-filter=".disease">Disease</a></li>
                         <li><a href="#" data-filter=".educaion">Education</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="container">
                <!--======= CASES ROW =========-->
                <ul class="items row">
                    @foreach (var item in Model)
                    {
                        <!--======= CASE 1 =========-->
                        <li class="col-sm-4 item nature food educaion">
                            <section>
                                <img class="img-responsive" src="@item.EtkinlikResimYol" alt="">



                                <!--======= DONATION DETAILS =========-->
                                <div class="donate-detail">
                                    <!--======= DONATION =========-->
                                    <h6>Katılımcı Sayısı: <span>53,458</span></h6>
                                    <!--======= LINK =========-->
                                    <a href="#." class="font-lora head">@item.EtkinlikBasligi</a>
                                    <hr>
                                    <p>
                                        @item.EtkinlikIcerik
                                    </p>
                                </div>
                                <!--======= DONATE BTN  =========-->
                                <div class="btn-right"> <a href="#make-donation" class="btn popup-with-zoom-anim">Etkinlige Katıl</a> </div>
                            </section>
                        </li>
                    }
                    

                    
                </ul>

                <!--======= PAGES =========-->
                <nav>
                    <ul class="pager">
                        <li class="previous"><a class="font-lora" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="next"><a class="font-lora" href="#">next <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>

                <!--======= PAGINATION =========-->
                <nav>
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
<script>
    setTimeout(function () { $("#etkinlik").addClass("active"); }, 0);

</script>
