
@{
    ViewBag.Title = "EtkinlikDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>Our <span>Causes</span></h3>

            <!--======= BREADCRUMB =========-->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Causes</li>
            </ol>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="cases cases-details">
        <div class="container">
            <!--======= CASES ROW =========-->
            
                <ul class="row">

                    <!--======= CASE 1 =========-->
                    <li class="col-sm-12">
                        <section>
                            <img class="img-responsive" src="" alt="">

                            <!--======= CASE PROGRESS BAR =========-->
                            <div class="progress-bars">
                                <div class="progress" data-percent="63%">
                                    <div class="progress-bar progress-bar-striped"> <span class="progress-bar-tooltip">63%</span> </div>
                                </div>
                            </div>

                            <!--======= DONATION DETAILS =========-->
                            <div class="donate-detail">

                                <!--======= TITTLE =========-->
                                <h4>Help for handicapped child</h4>

                                <!--======= DONATIONINFO =========-->
                                <ul class="donate-info">
                                    <li>
                                        <p class="font-lora">Donated: <span>69%</span></p>
                                    </li>
                                    <li>
                                        <p class="font-lora">Raised: <span>$5214</span></p>
                                    </li>
                                    <li>
                                        <p class="font-lora">Goal: <span>$9562</span></p>
                                    </li>
                                    <li>
                                        <p class="font-lora">Donators: <span>124</span></p>
                                    </li>

                                    <!--======= BUTTON =========-->
                                    <li class="pull-right"><a href="#." class="btn">Donate Now</a></li>
                                </ul>
                                <!--======= DETSILS =========-->
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archcana itecto salai beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratone sola voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eus modi tempora incidunt ut labore et dolore magnam unt aliquam quaerat voluptateme Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea comun mmodi consebrs quatur Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archcana itecto salai beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratone sola voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eus modi tempora incidunt ut labore et dolore magnam unt aliquam quaerat voluptateme Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea comun mmodi consebrs quatur Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                                <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archcana itecto salai beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratone sola voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eus modi tempora incidunt ut labore et dolore magnam unt aliquam quaerat voluptateme Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea comun mmodi consebrs quatur Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                            </div>
                        </section>
                    </li>
                </ul>
       
            

            <!--======= PAGES =========-->
            <nav>
                <ul class="pager">
                    <li class="previous"><a class="font-lora" href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li class="next"><a class="font-lora" href="#">next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 
