@model IEnumerable<WebApp2.Models.Etkinlik>

@foreach (var item in Model)
{
    <li>
        <p>
            @item.EtkinlikBasligi
            @if (item.EtkinlikDurum == "0")
            {
            <span>@WebApp2.Resources.Etkinlikler.bekliyor</span>
            }
            @if (item.EtkinlikDurum == "1")
            {
                <span>@WebApp2.Resources.Etkinlikler.onaylandi</span>
            }
            @if (item.EtkinlikDurum == "2")
            {
                <span>@WebApp2.Resources.Etkinlikler.reddedildi</span>
            }
        </p>
    </li>
}


