@using WebApp2.Models
@model IEnumerable<Blog>


<ul class="cate recent-post">
    @foreach (var item in Model)
    {
        <li>
            <div class="col-xs-7 no-padding">
                <a href="@Url.Action("BlogDetay","Home",new { item.BlogID } )">@item.BlogBasligi</a>
                <p>@item.BlogPaylasmaTarihi</p>
            </div>
            <div class="col-xs-4 no-padding pull-right"> <img class="img-responsive" src="images/img-1.jpg" alt=""> </div>
        </li>
    }
</ul>
