
@{
    ViewBag.Title = "Tanitim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!--======= BANNER =========-->
<div class="sub-banner" style="background: url('../Content/tanitim.jpg');">
    <div class="overlay">
        <div class="container">
            <h3>@WebApp2.Resources.Layout.sauTanitim</h3>

            <!--======= BREADCRUMB =========-->
            
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="gallery gallery-pages">
        <div class="portfolio-wrapper">
            
            <div class="container popup-gallery">

                <!--======= GALLERY ROW =========-->
                <ul class="items gallery-item row">

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item child animal educaion">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x300.jpg" alt="">
                            <div class="item-over">

                               
                              
                           
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item nature food">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x404.jpg" alt="">
                            <div class="item-over">
                                
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item child animal nature ">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x205.jpg" alt="">
                            <div class="item-over">
                                
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item animal food">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x300a.jpg" alt="">
                            <div class="item-over">
                                
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item educaion food">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x424.jpg" alt="">
                            <div class="item-over">
                                
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item child food">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x320.jpg" alt="">
                            <div class="item-over">
                                
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-8 item child animal nature ">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/770x270.png" alt="">
                            <div class="item-over">
                               
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item  animal food">
                        <section>
                            <img class="img-responsive" src="~/Content/TANİTİM/370x489.jpg" alt="">
                            <div class="item-over">
                                
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 

<script>
    setTimeout(function () { $("#tanitim").addClass("active"); }, 0);

</script>