
@{
    ViewBag.Title = "Tanitim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!--======= BANNER =========-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <h3>Image <span>Gallery</span></h3>

            <!--======= BREADCRUMB =========-->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Gallery</li>
            </ol>
        </div>
    </div>
</div>

<!--======= CONTENT =========-->
<div class="content">

    <!--======= RECENT CASES =========-->
    <section class="gallery gallery-pages">
        <div class="portfolio-wrapper">
            <div class="container">

                <!--======= FILTERS =========-->
                <ul class="filter">
                    <li><a class="active" href="#." data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".child">Children</a></li>
                    <li><a href="#" data-filter=".animal">Animal</a></li>
                    <li><a href="#" data-filter=".nature">Nature</a></li>
                    <li><a href="#" data-filter=".educaion">Education</a></li>
                    <li><a href="#" data-filter=".food">Food</a></li>
                </ul>
            </div>
            <div class="container popup-gallery">

                <!--======= GALLERY ROW =========-->
                <ul class="items gallery-item row">

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item child animal educaion">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-1.jpg" alt="">
                            <div class="item-over">
                               
                                <a href="~/Content/image/gallery-img-1.jpg" class="item-in">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item nature food">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-2.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-2.jpg" class="item-in pa-30">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item child animal nature ">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-3.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-3.jpg" class="item-in pa-5">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item animal food">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-6.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-6.jpg" class="item-in">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item educaion food">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-4.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-4.jpg" class="item-in  pa-40">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item child food">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-5.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-5.jpg" class="item-in ">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-8 item child animal nature ">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-7.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-7.jpg" class="item-in  pa-5">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>

                    <!--======= GALLERY IMG 1 =========-->
                    <li class="col-sm-4 item  animal food">
                        <section>
                            <img class="img-responsive" src="~/Content/image/gallery-img-8.jpg" alt="">
                            <div class="item-over">
                                <a href="~/Content/image/gallery-img-8.jpg" class="item-in  pa-40">
                                    <h5>Image Title Here</h5>
                                    <hr>
                                    <p>
                                        Aspernatur aut odit aut fugit, sed quia
                                        consequuntur magni dolores.
                                    </p>
                                </a>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<!--======= CONTENT END =========--> 

<script>
    setTimeout(function () { $("#tanitim").addClass("active"); }, 0);

</script>