
@{
    ViewBag.Title = "ParolamiUnuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp2.Models.Kullanici
<div class="sub-banner" style="background: url('../Content/hesap.jpg');">
    <div class="overlay">
        <div class="container">
            <h3>HESABINIZ BURADA<span> GÜVENDE</span> </h3>
        </div>
    </div>
</div>
<!--======= CONTENT =========-->
<div class="content">

    <!--======= SHOP =========-->
    <section class="shop shop-pages shop-detail">
        <div class="container">

            <!--======= PRODUCTS ROW =========-->
            <div class="row">

                <!--======= CART =========-->
                <div class="col-md-9">

                    <!--======= BILLING INFORMATION =========-->
                    <div class="billing-info">
                        <h2>HESAP AYARLARI</h2>
                        <br />
                                        
                       @if (Model == null)
                       {
                        <h4>Parolamı Sıfırla</h4>
                        <br />
                           using (Html.BeginForm("ParolamiUnuttum", "Account", FormMethod.Post, htmlAttributes: new { id = "", @class = "", enctype = "multipart/form-data" }))
                           {
                                 <ul class="row">
                                     <li class="col-sm-8">
                                         <label>
                                             Email Adresinizi Giriniz <span class="yelo">*</span>
                                             <input type="text" id="" name="email" value="" placeholder="Email Adresini Giriniz..">
                                         </label>
                                     </li>
                                     <li class="col-sm-7">
                                         <button type="submit" class="btn btn-primary" onclick="bilgilendirme()">Sıfırla</button>
                                     </li>
                                 </ul>
                           }
                       }
                       else
                       {

                        <h4>PAROLA AYARLARI</h4>
                           using (Html.BeginForm("ParolamiUnuttumGuncelleme", "Account", FormMethod.Get, htmlAttributes: new { id = "", @class = "", enctype = "multipart/form-data" }))
                           {
                                   
                                    <ul class="row">
                                        <li class="col-sm-8">
                                            <label>
                                                Kontrol Kodu <span class="yelo">*</span>
                                                <input type="text" id="kontrolKodu" name="kontrolKodu" placeholder="">
                                            </label>
                                        </li>
                                        <li>
                                            <input type="hidden" id="id" name="id" value="@Model.KullaniciID" />
                                        </li>
                                        
                                        <li class="col-sm-7">
                                           <button type="submit" class="btn btn-primary">GONDER</button>
                                            
                                        </li>
                                    </ul>
                           }

                       }

</div>
                </div>

                <!--======= SHOP LEFT BAR =========-->
              
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Parola Kontrolde Hata.Lütfen Tekrar Deneyiniz!");
            return false;
        }
        return true;
    }
    function bilgilendirme() {
        alert("Hesap güvenliginiz için e-mail adresinize şifre değiştirmek için gerekli kod gönderildi.Lütfen mailiniz kontrol ediniz.");
    }
</script>
